* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  justify-content: center;
  justify-items: center;
}

header {
  height: 50px;
  width: 100%;
  padding: 10px;
}

header h1 {
  text-align: center;
}

.container {
  display: grid;
  width: 100%;
  height: calc(100vh - 50px);
  place-items: center;
}